@import url('https://fonts.googleapis.com/css?family=Anton|Saira+Extra+Condensed');

.collections{
  font-family: 'Saira Extra Condensed', sans-serif;
  margin: 0 0;
  width: 100%;
  text-align: center;
}

.collections-title{
  text-transform:uppercase;
  font-size: 200%;
  margin: 35px 0;
}

.tab-link{
  display: inline-block;
  width: 18%;
}

.tab-link-letter{
  font-size: 500%;
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  animation-duration: 7s;
}

.animation-even{
  animation-delay: 1s;
}

.animation-odd{
  animation-delay: 0.5s;
}

.tab-link-title{
  margin-top: 0px;
  font-size: 200%;
  color: #000000;
  animation-duration: 3s;
}

.tab-link-title-active > span{
    text-decoration: underline;    
    text-decoration-color: #33b5a8;
}

.tab-link-description{
  margin-top: 60px;
  margin-bottom: 50px;
}

.tab-link-description > ul{
  font-size: 110%;
  list-style: none ;
  font-weight: lighter;
}

.tabs-content{
  width: 100%;
}

.my-gallery {
  width: 90%;
}
.my-gallery img {
  width: 300px;
  height: 200px;
  opacity: 0.5;
  filter: grayscale(90%) blur(1px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-gallery img:hover{
  filter: grayscale(0%) blur(0);
  opacity: 1;
}
.my-gallery figure {
  display: inline-block;
  margin: 0 0px;
  width: 32%;
  height: 300px;
}
.my-gallery figcaption {
  display: none;
}